name: Ruff CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  ruff-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Run Ruff Checks
        run: |
          uvx ruff format --check .
          uvx ruff check .
