name: Tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install Dependencies
        run: |
          uv venv
          uv pip install -r requirements.txt
          uv pip install -e .

      - name: Run Tests
        run: uv run pytest -v -s
